 
/* Font I found that looks similar to the Hunt font */

 @font-face {
        font-family: "Playfair Display";
        src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    }

/* I over wrote the hover for the nav bar links */

a:hover {

    color: #b8860b;

}

h1 {

    color: #ffffff;

    margin-left: 15px;

    font-size: 400%;

    text-shadow: 
    -1px -1px #b8860b,
    1px -1px #b8860b,
    -1px 1px #b8860b,
    1px 1px #b8860b;
    
}

/* using the display flex and flex direction column on both the html and body elements I am able to push the footer down to the bottom of short pages using felx 1 on the main */

html, body {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

    font-family: "Playfair Display";

    background-color: #1a1a1a;

}

main {

    text-indent: 2%;

    flex: 1;

}

p {

    margin-left: 6px;

    color: #ffffff;

    text-shadow: 
    -2px -2px #0d0d0d,
    2px -2px #0d0d0d,
    -2px 2px #0d0d0d,
    2px 2px #0d0d0d;

    font-size: 140%;
}

/* shoved a image into the nav bar, sadly cant find away to move it how I'd truly like to */

#navbar-horizontal {

    width: 30%;

    height: auto;

}

/* I made a custom image for the drop down button of the nav bar */

.navbar-hunt {

    font-size: 130%;

    background-image: url(images/WhiteHuntCrosses.png);

}

/* Added a hover to the button to make it stick out for the nav bar drop down */


button:hover {

    background-color: #b8860b;
    
}


.navbar-bounty {

    color: #ffffff;

}

.bg-hunter {

    background-color: #0d0d0d;
}

/* the size cover, no repeat, center, fixed on the image makes the image postion stay fixed while scrolling for longer pages */

#main-background {

    background-image: url(images/Hunt_Background_01.jpg);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    background-attachment: fixed;

}
.image {

    width: 50%;

    height: auto;

    border: 5px solid #b8860b;

    float: left;

    margin-left: 20px;

    margin-right: 10px;
}